--
-- PostgreSQL database dump
--

\restrict vGdc68kLiXzexfQuG5I1DVTn9lJpItfyeWCJVI9Zp9LXhpFiP8bXgcAgjqqkiap

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    end_location character varying(255),
    start_location character varying(255),
    status character varying(255)
);


ALTER TABLE public.orders OWNER TO "user";

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.orders ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: route; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.route (
    id bigint NOT NULL,
    distance_km double precision,
    estimated_time_minutes double precision,
    waypoints text,
    order_id bigint
);


ALTER TABLE public.route OWNER TO "user";

--
-- Name: route_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.route ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.route_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255),
    username character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.vehicles (
    id bigint NOT NULL,
    latitude double precision,
    license_plate character varying(255),
    longitude double precision,
    status character varying(255)
);


ALTER TABLE public.vehicles OWNER TO "user";

--
-- Name: vehicles_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.vehicles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vehicles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.orders (id, end_location, start_location, status) FROM stdin;
1	Piata Sfatului	Gara Brasov	PENDING
2	Brasov	Bucuresti	ERROR_ROUTING
3	Centru Civic	Gara Brasov	ROUTED
\.


--
-- Data for Name: route; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.route (id, distance_km, estimated_time_minutes, waypoints, order_id) FROM stdin;
1	15.5	25	45.65,25.60;45.66,25.61	3
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.users (id, password, role, username) FROM stdin;
1	$2a$10$pW00/JjOEDaxuhxQe9HqH.SlT5t0k86H5dS1QV99ICxhta.zES8.u	ADMIN	admin
\.


--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.vehicles (id, latitude, license_plate, longitude, status) FROM stdin;
1	44.4268	B-99-TEST	26.1025	FREE
34	45.6525	BV-20-APP	25.6105	FREE
\.


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.orders_id_seq', 3, true);


--
-- Name: route_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.route_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: vehicles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.vehicles_id_seq', 36, true);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: route route_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.route
    ADD CONSTRAINT route_pkey PRIMARY KEY (id);


--
-- Name: vehicles uk9vovnbiegxevdhqfcwvp2g8pj; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT uk9vovnbiegxevdhqfcwvp2g8pj UNIQUE (license_plate);


--
-- Name: route ukmervhre5i3p91yy9mna23umf7; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.route
    ADD CONSTRAINT ukmervhre5i3p91yy9mna23umf7 UNIQUE (order_id);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: route fk9xlw4psqbdqbq2l1ggeje6175; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.route
    ADD CONSTRAINT fk9xlw4psqbdqbq2l1ggeje6175 FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vGdc68kLiXzexfQuG5I1DVTn9lJpItfyeWCJVI9Zp9LXhpFiP8bXgcAgjqqkiap

